
h1{
  text-align: center;
  margin: 20px;
}
.input-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.ouput-form-container {
  width: 400px;
  margin:30px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-input {
  margin-bottom: 15px;
  width: 96%;
}

label {
  display: block;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#calculate-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#calculate-button:hover {
  background-color: #0056b3;
}

#response {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
p{
  font-size: 18px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}
